<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9cY0LHvfKx4vZAzjmk5eJyKQ_3eSOH0c</string>
	<key>GCM_SENDER_ID</key>
	<string>177566461480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appLocation.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>esp8266-2dca6</string>
	<key>STORAGE_BUCKET</key>
	<string>esp8266-2dca6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177566461480:ios:dba74ffa457880d8d74f1d</string>
	<key>DATABASE_URL</key>
	<string>https://esp8266-2dca6-default-rtdb.firebaseio.com</string>
</dict>
</plist>